<?xml version="1.0"?>
<model>
  <name>Clever with Pi Camera and vl53l1x lidar</name>
  <version>1.0</version>
  <sdf version='1.4'>clever_opt_flow.sdf</sdf>

  <author>
   <name>Amy Wagoner</name>
   <email>arwagoner@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with an FPV camera. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
